body{
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 2rem;
}

.container{
  max-width: 1200px;
}

.project-container{
  display: grid;
  justify-content: space-between;
  
  padding-bottom:4rem;
}



.description{
  margin-right: 2rem;
}

.project-image{
  max-height: 180px;
  padding: 0.5rem;
  filter: drop-shadow(0 0.3rem 0.2rem rgb(90, 90, 90));
  transition: max-height 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  
}

.project-images{
  padding-top:1.5rem;
}

.rogue-pic img{
  max-height:600px;
}

h1{
  color:rgb(212, 91, 47);
  display: flex;
}

#books{
  max-width:1em;
}

a{
  color:rgb(63, 131, 49);
  text-decoration-style:solid;
}

h4 a{
  color:rgb(211, 151, 23);
  text-decoration:none;
}

h4 a:hover{
  color:rgb(211, 174, 95);
  text-decoration: dotted underline;
}

small a{
  color:rgb(211, 23, 133);
  text-decoration-style: solid;
}

small a:hover{
  color:rgb(211, 95, 176);
  text-decoration-style: dotted;
}

a:hover{
  color:rgb(107, 187, 87);
  text-decoration-style: dotted;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

li{
  padding-bottom:1rem;
}