
pre{
    border: 1px solid rgba(255, 177, 169, 0.74);
    overflow-x:visible !important;
}

h1{
    text-decoration: underline;
    text-decoration-color: salmon;
    text-underline-offset: 4px;
}

li{
    padding-bottom: 3px;
}

#menu{
    display:flex;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 7px;
    margin:auto;
    width: 50%;
}

#menu a:visited{
    color: rgb(91, 91, 209);
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta-keyword, .hljs-name, .hljs-selector-tag {
	font-weight: normal !important; 
}

nav[data-toggle="toc"] .nav-link.active, nav[data-toggle="toc"] .nav-link.active:focus, nav[data-toggle="toc"] .nav-link.active:hover {
	padding-left: 18px;
	font-weight: 700;
	color: salmon;
	background-color: transparent;
	border-left: 2px solid salmon;
}

nav[data-toggle="toc"] .nav > li > a:focus, nav[data-toggle="toc"] .nav > li > a:hover {
	padding-left: 19px;
	color: salmon;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid salmon;
}

nav[data-toggle="toc"] {
    top: 42px;
  }

  nav[data-toggle="toc"] .nav .nav {
    display:block;
  }
  
  /* small screens */
  @media (max-width: 768px) {
    /* override stickyness so that the navigation does not follow scrolling */
    nav[data-toggle="toc"] {
      margin-bottom: 42px;
      position: static;
    }
  
    /* PICK ONE */
    /* don't expand nested items, which pushes down the rest of the page when navigating */
    /*
    nav[data-toggle="toc"] .nav .active .nav {
      display: none;
    }
    /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */

    nav[data-toggle='toc'] .nav .nav {
      display: block;
    }
  }
  
